body {
    background-color: rgb(230, 240, 255)!important;
}

.glyphicon-ok {
    color: lightgreen;
}
.glyphicon-remove {
    color: red;
}

.form-box {
    padding: 5%;
    margin: 10% 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 50px;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

.field-wrapper {
    margin: 10px 0;
}

.login-header {
    margin: -40px 0 40px;
    text-align: center;
}

.header {
    color: white;
    background-color: #337AB7;
}

.container {
    height: 3000px
	text-align: center;
}

.schema-menu {
    margin: 1em;
	text-align: center;
}

.custom-btn-group {
    padding: 5%;
    margin: 10% 15%;
    /*padding: 15px 100px 50px;*/
    background-color: #fff;
    border-radius: 15px 50px;
}

.custom-btn-group h2 {

    padding-bottom: 10px;
}

#menu-btn {
    margin: 10px 0;
	display: block;
	width: 100%;
}
