body {
    background-color: rgb(230, 240, 255)!important;
}

.form-box {
    padding: 5%;
    margin: 10% 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 50px;
}

.header {
    color: white;
    background-color: #337AB7;
}

.container {
    height: 3000px
	text-align: center;
}

.schema-menu {
    margin: 1em;
	text-align: center;
}

.btn-group {
    padding: 5%;
    margin: 10% 15%;
    /*padding: 15px 100px 50px;*/
    background-color: #fff;
    border-radius: 15px 50px;
}

.btn-group h2 {

    padding-bottom: 10px;
}

#menu-btn {
    margin: 10px 0;
	display: block;
	width: 100%;
}
