<!doctype html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" 
              href="{% static 'dynamic_schemas/icons/ren_ico.png' %}" />
        <link rel="stylesheet" 
              type="text/css"
              href="{% static 'dynamic_schemas/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    </head>
    <body>
        {% include 'dynamic_schemas/info-bar.html' %}
        <div class="container">
            <div class="schema-menu">
                {% if all_schemas %}
                <div class="custom-btn-group">
                    <h2> Rengørings skemaer </h2>
                    {% for schema in all_schemas %}
                        {% if schema.is_active %}
                        <a href="/dynamic_schemas/{{schema.id}}/">
                            <button id="menu-btn" class="btn btn-primary">{{schema.name}}</button>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                    <h1> NO SCHEMAS </h1>
                {% endif %}
            </div>            
        </div>
    </body>
</html>
