DaminoSystemsv4/__pycache__/
dynamic_schemas/__pycache__/
*.pyc
db.sqlite3
*.swp
dynamic_schemas/*.swp
DaminoSystemsv4/
.coverage
htmlcov/
*.swo
newdumpsjson/
manage.py
geckodriver.log
dist/
django_dynamicschemas.egg-info
