{% load static %}
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.2.1/dt-1.10.16/b-1.4.2/kt-2.3.2/r-2.2.0/sl-1.2.3/datatables.min.css"/>

		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.2.1/dt-1.10.16/b-1.4.2/kt-2.3.2/r-2.2.0/sl-1.2.3/datatables.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" 
                src="{% static 'dynamic_schemas/js/main.js' %}"></script>
    </head>
    <body>
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </body> 
</html>
