{% load static %}
<html>
    <head>
        <title>Rengøring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" 
              href="{% static 'dynamic_schemas/icons/ren_ico.png' %}" />
        <link rel="stylesheet"
              href="{% static 'dynamic_schemas/css/style.css' %}" />
        <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <link rel="stylesheet" type="text/css" href="{% static 'dynamic_schemas/dependencies/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />

        <!--<script-->
          <!--src="https://code.jquery.com/jquery-3.2.1.min.js"-->
          <!--integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
          <!--crossorigin="anonymous"></script>-->
          <script type="text/javascript" src="{% static 'dynamic_schemas/dependencies/jQuery/jquery-3.2.1.min.js' %}"></script>
        <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script type="text/javascript" src="{% static 'dynamic_schemas/dependencies/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
        {% block extraheads %}
        {% endblock %}
    </head>

    <body>
        {% if request.user.is_authenticated %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" 
                       href="{% url 'dynamic_schemas:schema_list' %}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Damino Systems 
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li id='admin-help'>
                        <a href="http://www.github.com/Threemusketeerz/DSystems/blob/master/dynamic_schemas/docs/admin_readme.md">
                            <span class='glyphicon glyphicon-info-sign'></span>
                            Admin guide
                        </a>
                    </li>
                    <li class="depr-schema">
                        <a href="http://10.22.1.15/hjemmeside/hjemmeside.html"> Udgået skema system </a>
                    </li>
                    {% if schema %}
                    {% block navextras %}
                    {% endblock %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                                                   aria-expanded="true">
                            Instruktioner
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if help_urls %}
                                {% for link in help_urls %}
                                <li><a href="{{ link.url }}" 
                                       target="_blank" 
                                       id="btn{{ forloop.counter }}">
                                        {{ link.name}}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a {% if request.user.is_superuser %}href="{% url 'admin:index' %}"{% endif %}>
                            <span class="glyphicon glyphicon-user"> </span>
                            {{ request.user.username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}

        {% block above_content %}{% endblock %}
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
        {% block below_content %}{% endblock %}
    </body>
</html>
