{% extends 'dynamic_schemas/base.html' %}
{% load dynamic_schema_extras %}

{% block content %}
    <div class="form-container">
        <form class="form-box" action="" method="POST" >
            {% csrf_token %}
            {% if form %}
            {% for field in form %} 
            {% if field.is_hidden %} 
            {{ field }}
            {% elif field|is_a_checkbox %}
            <div class="form-check">
                <label class="form-check-label" for="id_{{ field.label }}"> 
                    {{ field }}
                    {{ field.label }}
                </label>
            </div>
            {% else %}
            {{ field.label_tag }}
            {{ field }}
            {% endif %}
            {% endfor %}
            {% endif %}
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}
