{% load static %}
{% load dynamic_schema_extras %}

{# field classes are loaded in forms.py. #}
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" 
              href="{% static 'dynamic_schemas/css/style.css' %}"/>
        
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include 'dynamic_schemas/info-bar.html' %}
        <div class="form-container">
            <form class="form-box" action="" method="POST" >
                {% csrf_token %}
                {% if form %}
                {% for field in form %} 
                {% if field.is_hidden %} 
                {{ field }}
                {% elif field|is_a_checkbox %}
                <div class="form-check">
                    <label class="form-check-label" for="id_{{ field.label }}"> 
                        {{ field }}
                        {{ field.label }}
                    </label>
                </div>
                {% else %}
                {{ field.label_tag }}
                {{ field }}
                {% endif %}
                {% endfor %}
                {% endif %}
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </body> 
</html>
