{% extends 'dynamic_schemas/base.html' %}
{% block content %}
    <div class="container">
        <div class="schema-menu">
            {% if all_schemas %}
            <div class="custom-btn-group">
                <h2> Rengørings skemaer </h2>
                {% for schema in all_schemas %}
                    {% if schema.is_active %}
                    <a href="{% url 'dynamic_schemas:schema_view' schema.id %}">
                        <button id="menu-btn" class="btn btn-primary">{{schema.name}}</button>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <h1> NO SCHEMAS </h1>
            {% endif %}
        </div>            
    </div>
{% endblock %}
