{% extends 'dynamic_schemas/base.html' %}
{% load static %}
{% load dynamic_schema_extras %}
{% block extraheads %}
        <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.0/r-2.2.1/sl-1.2.4/datatables.min.css"/>-->
        <link rel="stylesheet" type="text/css" href="{% static 'dynamic_schemas/dependencies/dt/datatables.min.css' %}">

        <!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.0/r-2.2.1/sl-1.2.4/datatables.min.js"></script>-->
        <script type="text/javascript" src="{% static 'dynamic_schemas/dependencies/dt/datatables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dynamic_schemas/js/main.js' %}"></script>
{% endblock %}

{% block navextras %}

    {% if schema.has_ancestor %}
    {# This might have to be a dropdownlist #}
    {% for s in schema_obsolete %}
    <li class="obs-schema">
        <a href="{% url 'dynamic_schemas:schema_view' s.obsolete_schema.id %}">
            <span class='glyphicon glyphicon-warning-sign'></span>
            Udgået skema: {{ s.obsolete_schema }}
        </a>
    </li>
    {% endfor %}
    {% endif %}
{% endblock %}
{% block content %}
{% if schema.is_obsolete %}
<pre class="bg-danger"> 
    <h3>
        Denne tabel er udgået dato: {{ schema.date_obsolete }}, 
        gå tilbage til menuen for at finde din tabel.
        Hvis den ikke er herunder eller i menuen, kontakt admin!
        {% for s in schema_new %}
        <a href="{% url 'dynamic_schemas:schema_view' s.new_schema.id %}">{{ s.new_schema }}</a>
        {% endfor %}
    </h3>
</pre>
{% endif %}
{% if all_responses %}
    <div class="dataTables-container">
        <table id="dataTable" class="display table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for h, r in single_response.items %}
                        {% if h == 'id' %}
                        <th>
                            ID
                        </th>
                        {% endif %}
                        {% if h == 'pub_date' %}
                        <th>
                            Dato
                        </th>
                        {% endif %}
                        {% if h == 'user' %}
                        <th>
                            Lavet af	
                        </th>
                        {% endif %}
                        {% if h == 'qa_set' %}
                            {% for key, value in r|load_json %}
                            <th>
                            {{ key }}
                            </th>
                            {% endfor %}
                        {% endif %}
                        {% if h == 'instruction' %}
                            <th>
                                Intruks
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in all_responses %}
                <tr>
                {% for h, r in row.items %}
                    {% if h == 'qa_set' %}
                        {% for key, value in r|load_json %}
                        <td>
                            {{ value }}
                        </td>
                        {% endfor %}
                    {% elif h == 'user' %}
                        <td>
                            {{ r|get_full_user_name }}
                        </td>
                    {% elif h == 'instruction' %}
                        <td>
                            <a href="{{ r|get_link }}" target="_blank">
                                {{ r|get_link_name }}
                            </a>
                        </td>

                    {% elif h != 'schema' %}
                        <td>
                            {{ r }}
                        </td>

                    {% endif %}
                {% endfor %}
                </tr> 
                {% endfor %}
        </table>
    </div>
    {% elif not schema.is_active %}
    <h1> Skema inaktivt! Kontakt admin </h1>
    {% else %}
    <h1> SKEMA ER TOMT! Tryk under for at lave første indtasting! </h1>
     <a class="btn btn-primary" href="{% url 'dynamic_schemas:create_form' pk=pk %}">Ny Indtastning</a>
{% endif %}
{% endblock %}

