{% extends 'dynamic_schemas/base.html' %}
{% load dynamic_schema_extras %}

{% block content %}
{% if schema.is_active and all_responses %}
<!--<div class="topnav">-->
    <!--<ul>-->
        <!--<li>-->
            <!--<a href="{% url 'dynamic_schemas:create_form' pk=pk %}">Ny Indtastning</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<div class="dataTables-container">
    <table id="dataTable" class="display table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                {% for h, r in single_response.items %}
                    {% if h == 'id' %}
                    <th>
						ID
                    </th>
                    {% endif %}
                    {% if h == 'pub_date' %}
                    <th>
						Dato
                    </th>
                    {% endif %}
                    {% if h == 'user' %}
                    <th>
					    Lavet af	
                    </th>
                    {% endif %}
                    {% if h == 'qa_set' %}
                        {% for key, value in r|load_json %}
                        <th>
                        {{ key }}
                        </th>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in all_responses %}
            <tr>
            {% for h, r in row.items %}
                {% if h == 'id' %}
                <td>
                    {{ r }}
                </td>
                {% endif %}
                {% if h == 'qa_set' %}
                    {% for key, value in r|load_json %}
                    <td>
                    {{ value }}
                    </td>
                    {% endfor %}
                {% endif %}
                {% if h == 'pub_date' %}
                <td>
                    {{ r }}
                </td>
                {% endif %}
            {% endfor %}
            <td>
            {{ row.user|get_full_user_name }}
            </td>
            </tr> 
            {% endfor %}
    </table>
</div>
{% elif not schema.is_active %}
<h1> Skema inaktivt! Kontakt admin </h1>
{% else %}
<h1> SKEMA ER TOMT! Tryk under for at lave første indtasting! </h1>
 <a class="btn btn-primary" href="{% url 'dynamic_schemas:create_form' pk=pk %}">Ny Indtastning</a>
{% endif %}
{% endblock %}

